<!DOCTYPE html>
<html>
    <head>
        <title>Tyler Alves: Web Developer</title>
        <script src="public/javascripts/angular.min.js"></script>
        <script src="public/components/main.js" type="text/javascript"></script>
        <script src="public/components/navBar.js" type="text/javascript"></script>
        <script src="public/components/about.js" type="text/javascript"></script>
        <script src="public/components/projects.js" type="text/javascript"></script>
        <link rel="stylesheet" href="public/stylesheets/bootstrap.min.css" />
        <link rel="stylesheet" href="public/stylesheets/bootstrap-theme.min.css" />
        <link rel='stylesheet' href='public/stylesheets/style.css' />
        <link href='node_modules/bootstrap/fonts/glyphicons-halflings-regular.woff2' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body ng-app="meanPortfolio">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-11">
                    <div class="main-title">
                        <h2>Tyler Alves</h2>
                    </div>
                </div>
                <div class="col-xs-1 main-menu-col">
                    <div class="glyphicon glyphicon-menu-hamburger" ng-click="$ctrl.navShow = !$ctrl.navShow"></div>
                </div>

            </div>
        </div>

        <nav-bar ng-show="$ctrl.navShow" on-select="$ctrl.navShow = !$ctrl.navShow"></nav-bar>
        <main ng-hide="$ctrl.navShow"></main>

        <script src="public/javascripts/angular-1-router.js"></script>
    </body>
</html>
