<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>Technologies:</h4>
            <span><strong>MongoDB:</strong> Beginner</span><br>
            <span><strong>Express:</strong> Beginner</span><br>
            <span><strong>Angular 1.5:</strong> Beginner</span>
            <h4>Tooling:</h4>
            <span><strong>Node:</strong> Beginner</span><br>
            <span><strong>Heroku:</strong> Beginner</span>
        </div>
    </div>
</div>
