<div self-svg on-self-label-change="$ctrl.selfAltLabelChange(label)" class="container-fluid">
    <div class="row">
        <div class="col-md-12 full-page-col">
            <div class="self-alt-label" ng-show="$ctrl.selfAltLabelShow('self-portrait-map-heart')">
                <h4>Heart</h4>
                <span>
                   I have a passion for web development. Solving backend challenges and producing a sensible
                    and creative front-end user experience engages my brain in a way that I have always craved
                    in my educational and professional experience.
                </span>
            </div>
            <div class="self-alt-label" ng-show="$ctrl.selfAltLabel==='self-portrait-map-laptop'">
                <h4>Laptop</h4>
                Languages/ Frameworks:
                <ul>
                    <li>NodeJS</li>
                    <li>VanillaJS (preferred) and JQuery</li>
                    <li>MongoDB/ Mongoose</li>
                    <li>Angular 1.5.x</li>
                    <li>Express</li>
                    <li>PassportJS/ jwtWebTokens</li>
                    <li>Google Maps API</li>
                    <li>ArcGIS Server API</li>
                </ul>
            </div>
            <div class="self-alt-label" ng-show="$ctrl.selfAltLabel==='self-portrait-map-rope'">
                <h4>Rope</h4>
                <span>
                     Climbing has always been an immense source of happiness in my life. Through it I have met life-long friends, released stress, kept in
                    shape, and challenged my mind and body. I have a great worklife balance, which allows me to be more productive both in the office and
                    and on the side of a cliff. Climbing has always been an immense source of happiness in my life. Through it I have met life-long friends, released stress, kept in
                    shape, and challenged my mind and body. I have a great worklife balance, which allows me to be more productive both in the office and
                    and on the side of a cliff.
                </span>
            </div>
            <div class="self-svg-container">
                <object id="self-svg-object" data="/public/images/svg-portfolio-self2.svg" type="image/svg+xml"></object>
            </div>

        </div>
    </div>
</div>