<nav role="navigation" id="myNavBar" class="navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 navbar-col">
                <ul class="nav">
                    <li class="active" ng-click="$ctrl.onSelect()">
                        <a href="/">Home</a>
                    </li>
                    <li ng-click="$ctrl.onSelect()">
                        <a href="/#/projects">Projects</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>