<div class="row">
    <div class="col-md-6 col-sm-4 col-xs-6" ng-repeat="project in $ctrl.projects" ng-click="$ctrl.onActivate({num: $index})">
        <div class="project-preview">
            <img src="public/images/map.jpg" class="img-responsive"/>
            <h4>{{project.title}}</h4><br>
            <div>Mongo, Express</div>
        </div>
    </div>
</div>
