<div project-list-current current-project="$ctrl.currentProject" is-medium-device="$ctrl.isMediumDevice" class="row pl-image-row">
    <div class="col-xs-1 pull-right visible-xs-block visible-sm-block pl-indicators-col">
        <div class="pl-indicators-container">
            <ol class="carousel-indicators">
                <li ng-click="$ctrl.changeCurrentProject(1)" ng-class="$ctrl.indicatorIsActive(1)"></li>
                <li ng-click="$ctrl.changeCurrentProject(2)" ng-class="$ctrl.indicatorIsActive(2)"></li>
                <li ng-click="$ctrl.changeCurrentProject(3)" ng-class="$ctrl.indicatorIsActive(3)"></li>
                <li ng-click="$ctrl.changeCurrentProject(4)" ng-class="$ctrl.indicatorIsActive(4)"></li>
            </ol>
            <div class="glyphicon glyphicon-question-sign pl-help-btn" ng-click="$ctrl.showHelp = !$ctrl.showHelp"></div>
        </div>

    </div>


    <div class="col-xs-11 col-md-12">
        <div class="row">
            <div class="col-md-5 pl-image-col">
                <div ng-swipe-right="$ctrl.slideOutClass = true" ng-swipe-left="$ctrl.slideOutClass = false" project-image-highlight project-num="1" active-highlight-project="$ctrl.activeHighlightProject" ng-show="$ctrl.isCurrentProject(1)" class="pl-image-outer-container">
                    <div class="pl-image-inner-container pl-image-1">
                        <div class="pl-image-scroll">
                            <div class="pl-image-help" ng-show="$ctrl.showHelp">
                                <div class="glyphicon glyphicon-remove-circle pl-image-help-close" ng-click="$ctrl.showHelp = !$ctrl.showHelp"></div>
                                <img class="pl-image-help-icon" src="/public/images/swipe.png">
                            </div>
                            <div class="pl-image-caption" ng-class="$ctrl.slideOutClass?'pl-image-caption-swiped':''" >
                                <div class="pl-desc-container">
                                    <h4 class="pl-desc-title">
                                        Stork Delivery
                                    </h4>
                                    <div class="pl-desc-summary">
                                        Stork Delivery is an SPA that allows users in mountain towns to order items from their nearest urban specialty stores and have the items delivered to their residences. I structured the site using MEAN stack, included Mongo collections for users and products (with inventory management), and used Bootstrap to supplement design. I researched Angular 1.5 during this project and came to appreciate component architecture for its organization and future reuse potential. I am proud that I wrote very consistent and organized code by strictly following Todd Motto's style guide. I am also pleased with how easy it was to implement skills that I learned on previous projects: building a REST api, user authentication with passportjs and jsonwebtokens, and using references to link collections in mongoDB.

                                    </div>
                                    <div class="pl-desc-btn-container">
                                        <a href="http://storkdelivery.herokuapp.com" class="pl-desc-link" target="_blank">
                                            <div class="btn pl-desc-btn">View Deployed App</div>
                                        </a>
                                        <a href="https://github.com/tyleralves/stork-delivery" class="pl-desc-link" target="_blank">
                                            <div class="btn pl-desc-btn">Github Repository</div>
                                        </a>
                                    </div>

                                    <div class="pl-desc-labels">
                                        <span class="label pl-desc-label">NodeJS</span>
                                        <span class="label pl-desc-label">Angular 1.5</span>
                                        <span class="label pl-desc-label">MongoDB</span>
                                        <span class="label pl-desc-label">Mongoose</span>
                                        <span class="label pl-desc-label">Express</span>
                                        <br>
                                        <span class="label pl-desc-label">Passport</span>
                                        <span class="label pl-desc-label">JWTWebTokens</span>
                                        <span class="label pl-desc-label">Heroku</span>
                                        <span class="label pl-desc-label">Walmart API</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 pl-image-col">
                <div ng-swipe-right="$ctrl.slideOutClass = !$ctrl.slideOutClass" ng-swipe-left="$ctrl.slideOutClass = false" project-image-highlight project-num="2" active-highlight-project="$ctrl.activeHighlightProject" ng-show="$ctrl.isCurrentProject(2)" class="pl-image-outer-container pl-image-container-2">
                    <div class="pl-image-inner-container pl-image-2">
                        <div class="pl-image-scroll">
                            <div class="pl-image-help" ng-show="$ctrl.showHelp">
                                <div class="glyphicon glyphicon-remove-circle pl-image-help-close" ng-click="$ctrl.showHelp = !$ctrl.showHelp"></div>
                                <img class="pl-image-help-icon" src="/public/images/swipe.png">
                            </div>
                            <div class="pl-image-caption" ng-class="$ctrl.slideOutClass?'pl-image-caption-swiped':''">
                                <div class="pl-desc-container" id="pl-desc-container-2">
                                    <h4 class="pl-desc-title">
                                        Volunteer App
                                    </h4>
                                    <div class="pl-desc-summary">
                                        VolunteerApp was my optimistic leap into the deep end of NodeJS web development. I struggled for countless hours to get my infrastructure and tooling setup, create a simple Mongo collection, develop backend Passport user authentication and access it all using Handlebars on the front-end. During the indirect process of finding solutions to specific problems, I had to learn all about the technologies surrounding my immediate obstacles. Although it took hours to implement some of the hacky solutions, it felt so good to go back and refactor my code to make it more eloquent, performant and readable.
                                    </div>
                                    <div class="pl-desc-btn-container">
                                        <a href="http://stormy-eyrie-32571.herokuapp.com" class="pl-desc-link" target="_blank">
                                            <div class="btn pl-desc-btn">View Deployed App</div>
                                        </a>
                                        <a href="https://github.com/tyleralves/volunteerApp" class="pl-desc-link" target="_blank">
                                            <div class="btn pl-desc-btn">Github Repository</div>
                                        </a>
                                    </div>
                                    <div class="pl-desc-labels">
                                        <span class="label pl-desc-label">NodeJS</span>
                                        <span class="label pl-desc-label">JQuery</span>
                                        <span class="label pl-desc-label">MongoDB</span>
                                        <span class="label pl-desc-label">Mongoose</span>
                                        <br>
                                        <span class="label pl-desc-label">Express</span>
                                        <span class="label pl-desc-label">Passport</span>
                                        <span class="label pl-desc-label">Handlebars</span>
                                        <span class="label pl-desc-label">Heroku</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-swipe-right="$ctrl.slideOutClass = !$ctrl.slideOutClass" ng-swipe-left="$ctrl.slideOutClass = false" project-image-highlight project-num="3" active-highlight-project="$ctrl.activeHighlightProject" ng-show="$ctrl.isCurrentProject(3)" class="pl-image-outer-container pl-image-container-3">
                    <div class="pl-image-inner-container pl-image-3">
                        <div class="pl-image-scroll">
                            <div class="pl-image-help" ng-show="$ctrl.showHelp">
                                <div class="glyphicon glyphicon-remove-circle pl-image-help-close" ng-click="$ctrl.showHelp = !$ctrl.showHelp"></div>
                                <img class="pl-image-help-icon" src="/public/images/swipe.png">
                            </div>
                            <div class="pl-image-caption" ng-class="$ctrl.slideOutClass?'pl-image-caption-swiped':''">
                                <div class="pl-desc-container" id="pl-desc-container-3">
                                    <h4 class="pl-desc-title">
                                        MEAN Blog
                                    </h4>
                                    <div class="pl-desc-summary">
                                    In ac rhoncus est. Cras scelerisque augue nec suscipit molestie. In hac habitasse platea dictumst. Aliquam eu lacinia sem, a lobortis odio. Etiam posuere finibus commodo. Mauris vitae suscipit lectus. Phasellus euismod quam eleifend lorem egestas semper. Aliquam augue dui, pellentesque quis sollicitudin sit amet, condimentum et ipsum.
                                    </div>
                                    <div class="pl-desc-labels">
                                        <span class="label pl-desc-label">MongoDB</span>
                                        <span class="label pl-desc-label">Mongoose</span>
                                        <span class="label pl-desc-label">Express</span>
                                        <span class="label pl-desc-label">Passport</span>
                                        <span class="label pl-desc-label">Angular 1.4</span>
                                        <span class="label pl-desc-label">Heroku</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pl-image-col">
                <div ng-swipe-right="$ctrl.slideOutClass = !$ctrl.slideOutClass" ng-swipe-left="$ctrl.slideOutClass = false" project-image-highlight project-num="4" active-highlight-project="$ctrl.activeHighlightProject" ng-show="$ctrl.isCurrentProject(4)" class="pl-image-outer-container">
                    <div class="pl-image-inner-container pl-image-4">
                        <div class="pl-image-scroll">
                            <div class="pl-image-help" ng-show="$ctrl.showHelp">
                                <div class="glyphicon glyphicon-remove-circle pl-image-help-close" ng-click="$ctrl.showHelp = !$ctrl.showHelp"></div>
                                <img class="pl-image-help-icon" src="/public/images/swipe.png">
                            </div>
                            <div class="pl-image-caption" ng-class="$ctrl.slideOutClass?'pl-image-caption-swiped':''">
                                <div class="pl-desc-container">
                                    <h4 class="pl-desc-title">
                                        Personal Portfolio
                                    </h4>
                                    <div class="pl-desc-summary">
                                        Building off of my previous experience with VolunteerApp and MEAN Blog, I was able to quickly build out the Express backend, get a mongoDB database setup and install necessary tooling. I used MongooseJS to create and interface with collections for Images, Users, Posts(blog) and Projects. I used Angular 1.5 used to create the SPA front end with a focus on using components for organization and reuse.
                                    </div>
                                    <div class="pl-desc-labels">
                                        <span class="label pl-desc-label">MongoDB</span>
                                        <span class="label pl-desc-label">Mongoose</span>
                                        <span class="label pl-desc-label">Express</span>
                                        <span class="label pl-desc-label">Passport</span>
                                        <span class="label pl-desc-label">Angular 1.5</span>
                                        <span class="label pl-desc-label">Heroku</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>