<div class="row pl-image-row">
    <div class="col-xs-12 col-sm-5 pl-image-col">
        <div class="pl-image-container-1">
            <svg class="pl-svg-image" height="30" width="30">
                <g>
                    <circle cx="15" cy="15" r="15" fill="black"></circle>
                    <text x="11" y="20" fill="white">1</text>
                </g>
            </svg>
        </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-6 col-sm-4 pl-image-col">
        <div class="pl-image-container-2">
            <svg class="pl-svg-image" id="pl-svg-image-2" height="30" width="30">
                <g>
                    <circle cx="15" cy="15" r="15" fill="black"></circle>
                    <text x="11" y="20" fill="white">2</text>
                </g>
            </svg>
        </div>
        <div class="pl-image-container-3">
            <svg class="pl-svg-image" height="30" width="30">
                <g>
                    <circle cx="15" cy="15" r="15" fill="white"></circle>
                    <text x="11" y="20" fill="black">3</text>
                </g>
            </svg>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 pl-image-col">
        <div class="pl-image-container-4">
            <svg class="pl-svg-image" height="30" width="30">
                <g>
                    <circle cx="15" cy="15" r="15" fill="black"></circle>
                    <text x="11" y="20" fill="white">4</text>
                </g>
            </svg>
        </div>
    </div>
</div>
<div class="row">
    <div class="visible-md-block visible-lg-block col-md-12">
        <div class="pl-desc-container">
            <h4 class="pl-desc-title">
                1 | Volunteer App
            </h4>
            <div class="pl-desc-techs">
                MongoDB (Mongoose), Express, PassportJS User Authentication, Handlebars Templating
            </div>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ornare in eros nec semper. Vivamus sed elit eu tellus tincidunt ultrices. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus ornare suscipit nunc ut auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam id enim lacinia, aliquet tellus sit amet, iaculis diam. Integer dolor mauris, malesuada eu sem in, mollis aliquam justo. Aliquam egestas metus sed urna tincidunt tempor. Integer sapien tellus, blandit nec vehicula id, fermentum sit amet dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus ornare suscipit nunc ut auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam id enim lacinia, aliquet tellus sit amet, iaculis diam. Integer dolor mauris, malesuada eu sem in, mollis aliquam justo. Aliquam egestas metus sed urna tincidunt tempor. Integer sapien tellus, blandit nec vehicula id, fermentum sit amet dolor.
            </span>
            <h4 class="pl-desc-title">
                2 | Vanilla JS Quiz
            </h4>
            <span>
            Ut sem mi, dapibus id ultricies nec, facilisis et elit. Mauris ut nibh ut nunc pulvinar placerat hendrerit ut leo. Vivamus justo quam, aliquam volutpat ex vitae, viverra rhoncus sapien. Cras pharetra placerat eros, a tempus velit aliquam posuere. Vestibulum et accumsan augue. Sed ac quam in magna ullamcorper finibus vitae sed lorem. Integer nulla ligula, vulputate at lorem non, pulvinar ultricies est. Curabitur efficitur tristique commodo. Donec eu ligula finibus ante aliquam bibendum. Ut gravida condimentum ipsum sit amet dignissim. Pellentesque et hendrerit dui. Donec nec mattis turpis. Curabitur viverra lacus molestie egestas pulvinar. Etiam sodales quam a scelerisque posuere. In eu lacus et arcu sagittis scelerisque sit amet in leo. Quisque quis justo sollicitudin, aliquam tellus sed, efficitur felis.
            </span>
            <h4 class="pl-desc-title">3 | MEAN Blog</h4>
            <span>
            Maecenas a volutpat nulla. Donec aliquet enim tortor, vitae luctus ipsum ultrices sagittis. Duis aliquam ac est sed porta. Vivamus aliquet urna elit. Phasellus scelerisque, tellus ac auctor placerat, sapien diam ullamcorper enim, ut pellentesque ligula sapien posuere nisl. In ac rhoncus est. Cras scelerisque augue nec suscipit molestie. In hac habitasse platea dictumst. Aliquam eu lacinia sem, a lobortis odio. Etiam posuere finibus commodo. Mauris vitae suscipit lectus. Phasellus euismod quam eleifend lorem egestas semper. Aliquam augue dui, pellentesque quis sollicitudin sit amet, condimentum et ipsum.
            </span>
            Aliquam diam odio, sollicitudin nec lectus quis, sagittis iaculis magna. In hac habitasse platea dictumst. Donec mollis scelerisque felis, non dapibus nisl cursus ut. Nunc purus justo, imperdiet ut vulputate vitae, facilisis ac dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin et mattis lectus, quis dapibus erat. Aliquam vestibulum porta lobortis. Etiam lacinia non nisl non volutpat. Aenean efficitur nunc eget nunc interdum posuere. Nullam elementum eget urna id accumsan.
            <h4 class="pl-desc-title">
                4 | Personal Portfolio
            </h4>
            <span>
            Phasellus ultrices neque et lacus ultricies dignissim. Sed lacinia turpis a mollis condimentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam mollis scelerisque orci vel pellentesque. Mauris cursus posuere purus, sed tincidunt turpis elementum vitae. Nam malesuada mollis ipsum eu egestas. Donec eget sapien quis neque convallis mattis pretium eu elit.
            </span>
        </div>
    </div>
</div>
