<div project-list-current current-project="$ctrl.currentProject" is-medium-device="$ctrl.isMediumDevice" class="row pl-image-row">
    <div class="col-xs-1 pull-right visible-xs-block visible-sm-block pl-indicators-col">
        <div class="pl-indicators-container">
            <ol class="carousel-indicators">
                <li ng-click="$ctrl.changeCurrentProject(1)" ng-class="$ctrl.indicatorIsActive(1)"></li>
                <li ng-click="$ctrl.changeCurrentProject(2)" ng-class="$ctrl.indicatorIsActive(2)"></li>
                <li ng-click="$ctrl.changeCurrentProject(3)" ng-class="$ctrl.indicatorIsActive(3)"></li>
                <li ng-click="$ctrl.changeCurrentProject(4)" ng-class="$ctrl.indicatorIsActive(4)"></li>
            </ol>
            <div class="glyphicon glyphicon-question-sign pl-help-btn" ng-click="$ctrl.showHelp = !$ctrl.showHelp"></div>
        </div>

    </div>


    <div class="col-xs-11 col-md-12">
        <div class="row">
            <div class="col-md-4 pl-image-col">
                <div ng-swipe-right="$ctrl.slideOutClass = true" ng-swipe-left="$ctrl.slideOutClass = false" project-image-highlight project-num="1" active-highlight-project="$ctrl.activeHighlightProject" ng-show="$ctrl.isCurrentProject(1)" class="pl-image-outer-container">
                    <div class="pl-image-inner-container pl-image-1">
                        <div class="pl-image-scroll">
                            <div class="pl-image-help" ng-show="$ctrl.showHelp">
                                <div class="glyphicon glyphicon-remove-circle pl-image-help-close" ng-click="$ctrl.showHelp = !$ctrl.showHelp"></div>
                                <img class="pl-image-help-icon" src="/public/images/swipe.png">
                            </div>
                            <div class="pl-image-caption" ng-class="$ctrl.slideOutClass?'pl-image-caption-swiped':''" >
                                <div class="pl-desc-container">
                                    <h4 class="pl-desc-title">
                                        Stork Delivery
                                    </h4>
                                    <div class="pl-desc-summary">
                                        Stork Delivery is an SPA that allows users in mountain towns to order items from their nearest urban specialty stores and have the items delivered to their residences. I structured the site using MEAN stack, organized client-side code into Angular 1.5 components, implemented inventory management with MongoDB, and used Bootstrap to supplement design. I wrote very consistent and organized code by strictly following Todd Motto's style guide. I am also pleased with how easy it was to implement skills that I learned on previous projects: building a REST api, user authentication with passportjs, etc.

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pl-desc-link-col">
                                            <a href="http://storkdelivery.herokuapp.com" class="pl-desc-link" target="_blank">
                                                <div class="btn pl-desc-btn">View Deployed App</div>
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="https://github.com/tyleralves/stork-delivery" class="pl-desc-link" target="_blank">
                                                <div class="btn pl-desc-btn">Github Repository</div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="pl-desc-labels">
                                        <span class="label pl-desc-label">NodeJS</span>
                                        <span class="label pl-desc-label">Angular 1.5</span>
                                        <span class="label pl-desc-label">MongoDB</span>
                                        <span class="label pl-desc-label">Mongoose</span>
                                        <span class="label pl-desc-label">Express</span>
                                        <br>
                                        <span class="label pl-desc-label">Passport</span>
                                        <span class="label pl-desc-label">JWTWebTokens</span>
                                        <span class="label pl-desc-label">Heroku</span>
                                        <span class="label pl-desc-label">Walmart API</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 pl-image-col">
                <div ng-swipe-right="$ctrl.slideOutClass = !$ctrl.slideOutClass" ng-swipe-left="$ctrl.slideOutClass = false" project-image-highlight project-num="2" active-highlight-project="$ctrl.activeHighlightProject" ng-show="$ctrl.isCurrentProject(2)" class="pl-image-outer-container pl-image-container-2">
                    <div class="pl-image-inner-container pl-image-2">
                        <div class="pl-image-scroll">
                            <div class="pl-image-help" ng-show="$ctrl.showHelp">
                                <div class="glyphicon glyphicon-remove-circle pl-image-help-close" ng-click="$ctrl.showHelp = !$ctrl.showHelp"></div>
                                <img class="pl-image-help-icon" src="/public/images/swipe.png">
                            </div>
                            <div class="pl-image-caption" ng-class="$ctrl.slideOutClass?'pl-image-caption-swiped':''">
                                <div class="pl-desc-container" id="pl-desc-container-2">
                                    <h4 class="pl-desc-title">
                                        Volunteer Connect
                                    </h4>
                                    <div class="pl-desc-summary">
                                        VolunteerApp cuts out the pricey middlemen and connects willing volunteers with the organizations that need help. I created linked Mongo collections (users, messages, feedback), developed backend Passport user authentication and used Handlebars on the front-end.
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href="http://stormy-eyrie-32571.herokuapp.com" class="pl-desc-link" target="_blank">
                                                <div class="btn pl-desc-btn">View Deployed App</div>
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="https://github.com/tyleralves/volunteerApp" class="pl-desc-link" target="_blank">
                                                <div class="btn pl-desc-btn">Github Repository</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="pl-desc-labels">
                                        <span class="label pl-desc-label">NodeJS</span>
                                        <span class="label pl-desc-label">JQuery</span>
                                        <span class="label pl-desc-label">MongoDB</span>
                                        <span class="label pl-desc-label">Mongoose</span>
                                        <br>
                                        <span class="label pl-desc-label">Express</span>
                                        <span class="label pl-desc-label">Passport</span>
                                        <span class="label pl-desc-label">Handlebars</span>
                                        <span class="label pl-desc-label">Heroku</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-swipe-right="$ctrl.slideOutClass = !$ctrl.slideOutClass" ng-swipe-left="$ctrl.slideOutClass = false" project-image-highlight project-num="3" active-highlight-project="$ctrl.activeHighlightProject" ng-show="$ctrl.isCurrentProject(3)" class="pl-image-outer-container pl-image-container-3">
                    <div class="pl-image-inner-container pl-image-3">
                        <div class="pl-image-scroll">
                            <div class="pl-image-help" ng-show="$ctrl.showHelp">
                                <div class="glyphicon glyphicon-remove-circle pl-image-help-close" ng-click="$ctrl.showHelp = !$ctrl.showHelp"></div>
                                <img class="pl-image-help-icon" src="/public/images/swipe.png">
                            </div>
                            <div class="pl-image-caption" ng-class="$ctrl.slideOutClass?'pl-image-caption-swiped':''">
                                <div class="pl-desc-container" id="pl-desc-container-3">
                                    <h4 class="pl-desc-title">
                                        NZ DOC:<small> Google Maps Asset Integration</small>
                                    </h4>
                                    <div class="pl-desc-summary">
                                        Currently, I am working remotely on a contract for New Zealand's Department of Conservation. I am developing a system for them to display their arcGis assets (hiking tracks, campsites, huts, parks, etc) with a Google Maps based component for their content pages. The project requires joining data from the arcGis api to Json from a different api then displaying with the Google maps javascript api.
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href="http://doc-data.herokuapp.com" class="pl-desc-link" target="_blank">
                                                <div class="btn pl-desc-btn">View Deployed App</div>
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="https://github.com/tyleralves/doc-data" class="pl-desc-link" target="_blank">
                                                <div class="btn pl-desc-btn">Github Repository</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="pl-desc-labels">
                                        <span class="label pl-desc-label">NodeJS</span>
                                        <span class="label pl-desc-label">MongoDB</span>
                                        <span class="label pl-desc-label">Mongoose</span>
                                        <span class="label pl-desc-label">Express</span>
                                        <span class="label pl-desc-label">Angular 1.5</span>
                                        <span class="label pl-desc-label">Google Maps API</span>
                                        <span class="label pl-desc-label">ArcGIS API</span>
                                        <span class="label pl-desc-label">NZ DOC API</span>
                                        <span class="label pl-desc-label">Heroku</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pl-image-col">
                <div ng-swipe-right="$ctrl.slideOutClass = !$ctrl.slideOutClass" ng-swipe-left="$ctrl.slideOutClass = false" project-image-highlight project-num="4" active-highlight-project="$ctrl.activeHighlightProject" ng-show="$ctrl.isCurrentProject(4)" class="pl-image-outer-container">
                    <div class="pl-image-inner-container pl-image-4">
                        <div class="pl-image-scroll">
                            <div class="pl-image-help" ng-show="$ctrl.showHelp">
                                <div class="glyphicon glyphicon-remove-circle pl-image-help-close" ng-click="$ctrl.showHelp = !$ctrl.showHelp"></div>
                                <img class="pl-image-help-icon" src="/public/images/swipe.png">
                            </div>
                            <div class="pl-image-caption" ng-class="$ctrl.slideOutClass?'pl-image-caption-swiped':''">
                                <div class="pl-desc-container">
                                    <h4 class="pl-desc-title">
                                        Personal Portfolio
                                    </h4>
                                    <div class="pl-desc-summary">
                                        Building off of my previous experience with VolunteerApp and MEAN Blog, I was able to quickly build out the Express backend, get a mongoDB database setup and install necessary tooling. I used MongooseJS to create and interface with collections for Images, Users, Posts(blog) and Projects. I used Angular 1.5 used to create the SPA front end with a focus on using components for organization and reuse.
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href="#" class="pl-desc-link" target="_blank">
                                                <div class="btn pl-desc-btn">View Deployed App</div>
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="https://github.com/tyleralves/meanPortfolio" class="pl-desc-link" target="_blank">
                                                <div class="btn pl-desc-btn">Github Repository</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="pl-desc-labels">
                                        <span class="label pl-desc-label">MongoDB</span>
                                        <span class="label pl-desc-label">Mongoose</span>
                                        <span class="label pl-desc-label">Express</span>
                                        <span class="label pl-desc-label">Passport</span>
                                        <span class="label pl-desc-label">Angular 1.5</span>
                                        <span class="label pl-desc-label">Heroku</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>