/* ## Global ## */

body {
    font: 14px "Times New Roman", Times, serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

/* ## Main ## */

.main-title {
    height: 65px;
}

.main-glyph-container {
    display: flex;
    align-items: flex-end;
    float: right;
    height: 65px;
}

@media screen and (min-width: 992px){
    .main-title {
        height: 8vh;
    }
    .main-glyph-container {
        height: 8vh;
    }
}

.glyphicon-menu-hamburger {
    font-size: 28px;
    padding-bottom: 10px;
}

/* ## Navigation ## */

.navbar a {
    color: black;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.navbar ul{
    text-align: center;
}

/* ## Project List ## */

.pl-image-col {
    padding-left: 1vw;
    padding-right: 1vw;

}

.pl-image-container-1,
.pl-image-container-2,
.pl-image-container-3,
.pl-image-container-4 {
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,.5);
}

.pl-image-container-1 {
    background: url("/public/images/volunteerAppScreen.png") no-repeat;
    background-size: cover;
    height: 50vh;
    position: relative;
}

.pl-image-container-2 {
    background: url("/public/images/sampleScreen1.png") no-repeat;
    background-size: cover;
    height: 28vh;
    margin-bottom: 4vh;
    position: relative;
}

.pl-image-container-3 {
    background: url("/public/images/sampleScreen2.png") no-repeat;
    background-size: cover;
    height: 18vh;
    position: relative;
}

.pl-image-container-4 {
    background: url("/public/images/portfolioScreen.png") no-repeat;
    background-size: contain;
    height: 50vh;
    position: relative;
}

.pl-svg-image {
    font:600 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    bottom: 1vh;
    left: 1vh;
}

#pl-svg-image-2 {
    top: 1vh;
}

.pl-desc-container {
    line-height: 15px;
    height: 40vh;

    -webkit-column-count: 4;
    -webkit-column-gap: 15px;
    -moz-column-count: 4;
    -moz-column-gap: 15px;
    column-count: 4;
    column-gap: 15px;

    margin-top: 2vh;
}

.pl-desc-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
}

.pl-desc-techs {
    font-style: italic;
    line-height: 20px;
    margin-bottom: 5px;
}

