/* ## Global ## */

@font-face {
    font-family: TylerAlvesSm;
    src: url('/public/images/TylerAlvesSm.ttf');
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'TylerAlvesSm', 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .0625em;
}

#search-div {
    display: none;
}

#grid-svg {
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
}

#grid-svg path {
    stroke-opacity: .5;
}

.full-page-col {
    position: static;
}

.self-svg-container {
    display: flex;
}

#self-svg-object {
    display: block;
    height: 90vh;
    margin-left:auto;
    margin-right:auto;
    z-index: 999;
}

#self-image-container {
    margin-left: auto;
    margin-right:auto;
    height: 100%;
}

.self-alt-label {
    background: rgba(255,255,255,.9);
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: 'TylerAlvesSm', sans-serif;
    height: auto;
    width: 100%;
    padding-left: 5px;
    padding-right:5px;
    z-index: 9999;
}

.self-alt-label>h4 {
    font-family: 'TylerAlvesSm', sans-serif;
}

@media screen and (max-width:992px){
    .self-svg-container {
        top: 40px;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-aspect-ratio: 8/5){
    #self-svg-object {
        height: 150vh;
        width:100%;
    }
    #self-alt-label {
        display: none;
    }
}

#name-svg {
    height: 75px;
    position: absolute;
    left: 20px;
    top: -5px;
    transform: scale(.7,.7) rotate(2deg);
    z-index: 999;
}


#mainGrid {
    /*Styling included in markup for ie compatibility*/
}

#engLeftSide {
    transform: translate(0, 40px);
}

body {
    background-color: rgb(254,250,221);
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
}

a, a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.col-xs-1, .col-sm-1 {
    padding-left: 0;

}

/* ## main ## */

.main-title {
    display: flex;
    height: 40px;
    width: 100%;
}

.title-logo {
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.main-menu-col {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 40px;
    width: 20px;
}

.main-menu-col>a, .main-menu-col>a:link, .main-menu-col>a:visited .main-menu-col>a:hover,.main-menu-col>a:active {
    font-size: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: black;
    text-decoration: none;
}

.glyphicon-menu-hamburger {
    font-size: 25px;
}
#social-logo-mobile-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    z-index: 999;
}

#social-logo-full-container {
    align-items: flex-end;
    display: flex;
    position: absolute;
    left: 45vw;
    top: 5px;
}

.social-logo {
    display: block;
    margin-bottom: 5px;
}

#social-logo-full-container .social-logo {
    vertical-align: center;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

#social-logo-mobile-container .social-logo {
    width: 25px;
}

#social-logo-mobile-container #social-logo-linkedin {
    margin-left: 2px;
    width: 27px;
}

#resume-download {
    align-items: baseline;
    display: flex;
    height: 40px;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 20px;
    z-index: 1000;
}

#resume-download>a {
    font-size: 26px;
}

@media screen and (max-width: 992px) and (max-height: 450px) {
    .main-menu-col {
        align-items: center;
        height: auto;
        position: absolute;
        top: 5vh;
    }

    main {
        margin-top: 3vh;
    }

    .glyphicon-menu-hamburger {
        background-color: white;
        position: relative;
        z-index: 2;
    }

    .main-title {
        display: none;
    }

    .pl-image-help {
        align-items: center;
    }

    .pl-image-help-icon{
        height: 90vh;
    }

    .carousel-indicators {
        margin-top: 100px;
    }
}



/* ## Navigation ## */

nav {
    height: 85vh;
}

nav li {
    height: 45vh;
    line-height: 42vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

ul.nav a:hover, ul.nav a:focus{
    background: transparent;
}

.navbar a {
    color: black;
    font-size: 36px;
    font-weight: 800;
}

.navbar ul{
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* ## Project List ## */

.pl-image-row {
    margin-top: 2vh;
}

.pl-indicators-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 87vh;
    position: relative;
    width: 20px;
}

.carousel-indicators {
    position: static;
    width: auto;
    margin-left: auto;
    list-style: none;
}

.carousel-indicators li {
    background-color: #FBA91B;
    border: 1px solid black;
    border-radius: 0;
    display: block;
    margin: 20px auto;
}

.carousel-indicators li.active {
    background-color: chartreuse;
    margin: 20px auto;
}

.pl-help-btn {
    display: block;
    font-size: 17px;
}

/*Change height of pl-row to accomodate box shadow of .pl-image-outer-container */

.pl-image-outer-container {
    box-shadow: 1px 2px 5px 2px rgba(254,250,221,.5);
    height: 87vh;
    overflow: hidden;
    padding-bottom: 5px;
    position: relative;
    width: 100%;
}

/* Hides scrollbar*/
.pl-image-inner-container {
    height: 87vh;
    margin-bottom: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    left: 0;
    width: 100%;
}

.pl-image-scroll {
    height: 160vh;
    position: relative;
    width: 100%;
}

.pl-image-help {
    background-color: rgba(254,250,221,.9);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160vh;
    padding: 5px;
    position: absolute;
    right: 0;
    width: inherit;
}

.pl-image-help-icon {
    width: 100%;
}

.pl-image-help-close {
    position: absolute;
    top:37vh;
    right: 5px;
}

.pl-image-help.ng-hide-add, .pl-image-help.ng-hide-remove {
    transition: .2s linear all;
}

.pl-image-help.ng-hide{
    right: 100%;
}

.pl-image-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    height: 100%;
    padding: 5px;
    position: absolute;
    width: inherit;
    background-color: rgba(254,250,221,.9);
}

@media screen and (max-width: 992px){
    .pl-image-caption {
        right: 100%;
    }

    .pl-image-caption-swiped-add,
    .pl-image-caption-swiped-remove {
        transition: .1s linear all;
    }

    .pl-image-caption-swiped,
    .pl-image-caption-swiped-add.pl-image-caption-swiped-add-active {
        right: 0;
    }

    .pl-image-caption-swiped-remove.pl-image-caption-swiped-remove-active {
        right: 100%;
    }
}

.pl-image-1 {
    background: url("/public/images/storkDeliveryScreen.png") no-repeat;
    background-size: cover;
}

.pl-image-2 {
    background: url("/public/images/volunteerAppScreen.png") no-repeat;
    background-size: cover;
}

.pl-image-3 {
    background: url("/public/images/DOCDataScreen.png") no-repeat;
    background-size: cover;
}

.pl-image-4 {
    background: url("/public/images/portfolioScreen.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.pl-desc-container {
    text-align: center;
    width: 100%;
}

.pl-desc-title {
    color: #000000;
    font-size: 22px;
    letter-spacing: .05em;
    font-weight: 600;
}

.pl-desc-summary{
    line-height: .9;
}

.pl-desc-title>small{
    color: #000000;
}

.pl-desc-btn-container {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.pl-desc-link {
    margin-left: auto;
    margin-right: auto;
}

.pl-desc-btn {    /*Align center, add glyphicon link and stat page*/
    border: 2px solid #000000;
    border-radius: 0;
    color: #000000;
    font-size: 17px;
    height: 40px;
    line-height: 1.4em;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pl-desc-label {
    background-color: #000000;
    color: #FFFFFF;
    font-weight: 300;
}

.pl-desc-btn:link, .pl-desc-btn:visited, .pl-desc-btn:hover, .pl-desc-btn:active {
    color: #000000;
}

.active-project-title {
    background-color: whitesmoke;
}

@media screen and (max-height: 200px){
    .carousel-indicators {
        margin-bottom: 0;
    }
    .carousel-indicators li,.carousel-indicators li.active {
        margin: 8vh auto;
    }

    .pl-indicators-container {
        justify-content: flex-end;
    }
}



@media screen and (min-width: 992px){

    .main-menu-col {
        justify-content: flex-end;
        width: 100%;
    }

    .glyphicon-menu-hamburger{
        font-size: 28px;
    }

    .pl-image-col {
        padding-right: 15px;
    }

    .pl-image-outer-container {
        border: 1px solid grey;
        box-shadow: none;
        height: 90vh;
        width: 100%;
        margin-bottom: 0;
    }

    .pl-image-help {
        display: none;
    }

    .pl-image-caption {
        visibility: hidden;
        align-items: flex-start;
    }

    .pl-desc-container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 90vh;
    }

    #pl-desc-container-2 {
        height: 43vh;
    }

    #pl-desc-container-3 {
        height: 43vh;
    }

    .pl-image-outer-container:hover .pl-image-caption {
        visibility: visible;
    }

    .pl-image-outer-container:hover {
        box-shadow: 1px 2px 5px 2px rgba(0,0,0,.5);
    }

    .pl-image-outer-container:hover .pl-svg-image circle {
        fill: white;
    }

    .pl-image-outer-container:hover .pl-svg-image text {
        fill: black;
    }


    .pl-image-inner-container {
        height: 90vh;
        overflow-y: hidden;
        width: 100%;
    }

    .pl-image-container-2 {
        height: 43vh;
        margin-bottom: 4vh;
    }

    .pl-image-container-3 {
        height: 43vh;
    }

    .pl-image-scroll {
        height: 100%;
        width: 100%;
    }
}

.loading-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 47vh;
    width: 100%;
}

.loading {
    width: 50px;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% {
    -moz-transform:rotate(360deg);
}
}
@-webkit-keyframes spin { 100% {
    -webkit-transform:rotate(360deg);
}
}
@keyframes spin { 100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
}
}