/* ## Global ## */

body {
    font-family: "Open Sans", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 67px;
}

a {
    color: #00B7FF;
}

/* ## Main ## */

.main-title {
    height: 8vh;
    width: 100%;
    margin-top: 5px;
}

.title-logo {
    display: inline-block;
    height: 30px;
    padding-top: 0;
    vertical-align: top;
}

.title-info {
    display: inline-block;
}

.main-title .name {
    display: block;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
}

.main-title .title {
    display: block;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    margin-top: 0;
    padding-top: 0;
    text-transform: uppercase;
}

.main-menu-col {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
}

.glyphicon-menu-hamburger {
    position: relative;
    font-size: 5vw;
}

@media screen and (max-height: 450px) {
    .main-menu-col {
        align-items: flex-start;
        height: auto;
        position: absolute;
        right: 0;
        top: 3vh;
    }

    main {
        margin-top: 3vh;
    }

    .glyphicon-menu-hamburger {
        background-color: white;
        position: relative;
        z-index: 2;
    }

    .main-title {
        display: none;
    }
}



/* ## Navigation ## */

.navbar a {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 800;
}

.navbar ul{
    text-align: center;
}

/* ## Project List ## */

.pl-indicators-container {
    display: flex;
    align-items: center;
    height: 90vh;
}

.carousel-indicators {
    position: static;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}

.carousel-indicators li {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 0;
    display: block;
    margin: 20px auto;
}

.carousel-indicators li.active {
    background-color: black;
    margin: 20px auto;
}

.pl-image-col {
    padding-right: 1vw;
}

.pl-image-outer-container {
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,.5);
    height: 90vh;
    overflow: hidden;
    position: relative;
}

.pl-image-inner-container {
    height: 90vh;
    margin-bottom: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    left: 0;
}

.pl-image-scroll {
    height: 160vh;
    width: 93vw;
}

.pl-image-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.pl-image-caption h4 {

}

.pl-image-container:hover .pl-image-caption {
    visibility: visible;
}

.pl-image-caption h4 {
    color: white;
}

.pl-image-caption .btn {    /*Align center, add glyphicon link and stat page*/
    width: 30%;
}

.pl-image-1 {
    background: url("/public/images/volunteerAppScreen.png") no-repeat;
    background-size: cover;
}

.pl-image-2 {
    background: url("/public/images/sampleScreen1.png") no-repeat;
    background-size: cover;
}

.pl-image-3 {
    background: url("/public/images/sampleScreen2.png") no-repeat;
    background-size: cover;
}

.pl-image-4 {
    background: url("/public/images/portfolioScreen.png") no-repeat;
    background-size: cover;
}

.pl-svg-image {
    font:600 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    bottom: 1vh;
    left: 1vh;
}

#pl-svg-image-2 {
    top: 1vh;
}

.pl-desc-wrapper {
    line-height: 20px;

    -webkit-column-count: 4;
    -webkit-column-gap: 15px;
    -moz-column-count: 4;
    -moz-column-gap: 15px;
    column-count: 4;
    column-gap: 15px;

    margin-top: 2vh;
}

.pl-desc-container {
    padding: 5px;
}

.active-project-title {
    background-color: whitesmoke;
}

.pl-desc-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
}

.pl-desc-techs {
    font-style: italic;
    line-height: 20px;
    margin-bottom: 5px;
}

@media screen and (max-height: 200px){
    .carousel-indicators {
        margin-bottom: 0;
    }
    .carousel-indicators li,.carousel-indicators li.active {
        margin: 8vh auto;
    }

    .pl-indicators-container {
        align-items: flex-end;
    }
}



@media screen and (min-width: 992px){

    .glyphicon-menu-hamburger{
        font-size: 28px;
    }

    .pl-image-outer-container {
        height: 50vh;
        width: 100%;
        margin-bottom: 0;
    }

    .pl-image-inner-container {
        overflow-y: hidden;
        width: 100%;
    }

    .pl-image-scroll {
        width: 100%;
    }

    .pl-image-container-2 {
        height: 28vh;
        margin-bottom: 4vh;
    }
    .pl-image-container-3 {
        height: 18vh;
    }
    .pl-image-caption {
        background: rgba(0,0,0,.7);
        visibility: hidden;
    }

}